@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Site Extensions";
}

@section PageHead {
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
        img.icon {
            height: 72px;
            width: 72px;
            display: inline-block;
        }

        .thumbnail {
            text-align: center;
            height: 300px;
        }

        .button-bottom-left {
            position: absolute;
            width: 70px;
            left: 20px;
            bottom: 25px;
        }

        .button-bottom-right {
            position: absolute;
            right: 20px;
            bottom: 25px;
        }

        .text-description {
            height: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

<div class="container">
    <div class="row navbar">
        <div class="col-sm-6 col-md-4" id="tabHeadings">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#gallery">Gallery</a></li>
                <li><a data-toggle="tab" href="#installed">Installed</a></li>
                <li><a data-toggle="tab" href="#update">Update</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-5" id="searchBox">
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchText" data-bind="value: searchTerms" placeholder="Site Extension" />
                </div>
                <a class="btn btn-default" id="searchButton"><span>Search</span></a>
                <a class="btn btn-default" id="clearButton"><span>Clear</span></a>
            </form>
        </div>
        <div class="col-sm-6 col-md-3">
            <form class="navbar-form">
                <a class="btn btn-default" id="restartButton"><span>Restart Site</span></a>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="tab-content">
            <div class="tab-pane active" id="gallery">
                <div class="row" data-bind="foreach: gallery">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="thumbnail" id="tile1">
                            <a href="#">
                                <div data-bind="if: IconUrl">
                                    <img data-bind="attr: { src: IconUrl }, click: $parent.details"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal" />
                                </div>
                                <div data-bind="ifnot: IconUrl">
                                    <img src="http://siteextensions.azurewebsites.net/Content/Images/packageDefaultIcon.png"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal"
                                         data-bind="click: $parent.details" />
                                </div>
                            </a>
                            <h4 class="" data-bind="text: Title"></h4>
                            <p class="text-description" data-bind="text: Description"></p>
                            <p>
                                <a class="btn btn-primary button-bottom-left installButton" role="button"><span>Install</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="installed">
                <div class="row" data-bind="foreach: installed">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="thumbnail" id="tile2">
                            <a href="#">
                                <div data-bind="if: IconUrl">
                                    <img data-bind="attr: { src: IconUrl }, click: $parent.details"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal" />
                                </div>
                                <div data-bind="ifnot: IconUrl">
                                    <img src="http://siteextensions.azurewebsites.net/Content/Images/packageDefaultIcon.png"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal"
                                         data-bind="click: $parent.details" />
                                </div>
                            </a>
                            <h4 class="" data-bind="text: Title"></h4>
                            <p class="text-description" data-bind="text: Description"></p>
                            <p>
                                <a class="btn btn-primary button-bottom-left" role="button" data-bind="attr: {href : '/' + Id, target : '_blank'}"><span>Launch</span></a>
                                <a class="btn btn-primary button-bottom-right removeButton" role="button" id="removeButton"><span>Remove</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="update">
                <div class="row" data-bind="foreach: updates">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="thumbnail" id="tile3">
                            <a href="#">
                                <div data-bind="if: IconUrl">
                                    <img data-bind="attr: { src: IconUrl }, click: $parent.details"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal" />
                                </div>
                                <div data-bind="ifnot: IconUrl">
                                    <img src="http://siteextensions.azurewebsites.net/Content/Images/packageDefaultIcon.png"
                                         alt="Icon" class="icon" data-toggle="modal" data-target="#detailsModal"
                                         data-bind="click: $parent.details" />
                                </div>
                            </a>
                            <h4 class="" data-bind="text: Title"></h4>
                            <p class="text-description" data-bind="text: Description"></p>
                            <p>
                                <a class="btn btn-primary button-bottom-left updateButton" role="button"><span>Update</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-bind="with: detailedSiteExtension">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div data-bind="if: IconUrl"><img data-bind="attr: { src: IconUrl }" alt="Icon" class="icon" /></div>
                <div data-bind="ifnot: IconUrl">
                    <img src="http://siteextensions.azurewebsites.net/Content/Images/packageDefaultIcon.png"
                         alt="Icon" class="icon" />
                </div>
                <h4 class="modal-title" id="detailsModalLabel" data-bind="text: Title"></h4>
            </div>
            <div class="modal-body" data-bind="with: detailedSiteExtension">
                <strong>ID</strong>
                <p data-bind="text: Id"></p>
                <strong>Version</strong>
                <p data-bind="text: Version"></p>
                <strong>Download Count</strong>
                <p data-bind="text: DownloadCount"></p>
                <strong>Authors</strong>
                <p data-bind="text: Authors"></p>
                <strong>License</strong>
                <p data-bind="text: LicenseUrl"></p>
                <strong>Published Time</strong>
                <p data-bind="text: PublishedDateTime"></p>
                <strong>Description</strong>
                <p data-bind="text: Description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
    // UI
    (function () {
        function adjustTileRaito() {
            var tiles = $("#tile1, #tile2, #tile3");
            tiles.height(tiles.width() * 1.6);
        };

        adjustTileRaito();

        $(window).resize(adjustTileRaito);

        $('a[data-toggle="tab"]').on("shown.bs.tab", function (event) {
            window.location.hash = $(event.target).attr("href").substr(1);
        });

        $('#tabHeadings a[href="' + window.location.hash + '"]').tab('show');

        var activitySpin = "<i class=\"fa fa-spinner fa-spin\"></i>";
        var searchText = "<span>Search</span>";
        var clearText = "<span>Clear</span>";
        var installText = "<span>Install</span>";
        var removeText = "<span>Remove</span>";
        var updateText = "<span>Update</span>";
        var restartText = "<span>Restart Site</span>";

        function buttonResponse(btn, func, text) {
            var width = $(btn).width();
            $(btn).width(width);
            $(btn).html(activitySpin);
            $(btn).prop("disabled", "disabled");
            func(function () {
                $(btn).html(text);
                $(btn).removeProp("disabled");
            });
        }

        $(document).on("click", "#searchButton", function () {
            buttonResponse(this, ko.contextFor(this).$root.populateActiveTab, searchText);
        });

        $(document).on("click", "#clearButton", function () {
            ko.contextFor(this).$root.searchTerms("");
            buttonResponse(this, ko.contextFor(this).$root.populateAllTabs, clearText);
        });

        $(document).on("click", ".installButton", function () {
            var context = ko.contextFor(this);
            buttonResponse(this, function (callback) {
                context.$root.install(context.$data, callback);
            }, installText);
        });

        $(document).on("click", ".removeButton", function () {
            var context = ko.contextFor(this);
            buttonResponse(this, function (callback) {
                context.$root.remove(context.$data, callback);
            }, removeText);
        });

        $(document).on("click", ".updateButton", function () {
            var context = ko.contextFor(this);
            buttonResponse(this, function (callback) {
                context.$root.install(context.$data, callback);
            }, updateText);
        });

        $(document).on("click", "#restartButton", function () {
            buttonResponse(this, function (callback) {
                $.ajax({
                    type: "DELETE",
                    url: "/diagnostics/processes/0",
                    error: function () {
                        // no op
                    },
                    complete: callback
                });
            }, restartText);
        });
    })();

    // Knockout View Model
    function ExtensionsViewModel() {
        // Data
        var self = this;
        self.gallery = ko.observableArray([]);
        self.installed = ko.observableArray([]);
        self.updates = ko.observableArray([]);
        self.detailedSiteExtension = ko.observable();
        self.searchTerms = ko.observable("");
        self.activeTab = ko.observable("gallery");

        // Operations
        self.populateGallery = function (filter, callback) {
            $.ajax({
                type: "GET",
                url: "/api/extensions/remote?" + $.param({ "filter": filter }),
                dataType: "json",
                success: function (data) {
                    self.gallery(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown);
                },
                complete: callback
            });
        };

        self.populateInstalled = function (filter, callback) {
            $.ajax({
                type: "GET",
                url: "/api/extensions/local?" + $.param({ "filter": filter }),
                dataType: "json",
                success: function (data) {
                    self.installed(data);
                    self.updates(data.filter(function (item) { return !item.IsLatestVersion; }));
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown);
                },
                complete: callback
            });
        };

        self.populateActiveTab = function (callback) {
            if ($("#gallery").hasClass("active")) {
                self.populateGallery(self.searchTerms, callback);
            } else {
                self.populateInstalled(self.searchTerms, callback);
            }
        };

        self.populateAllTabs = function (callback) {
            self.populateGallery(self.searchTerms, callback);
            self.populateInstalled(self.searchTerms, callback);
        };

        self.install = function (extension, callback) {
            $.ajax({
                type: "POST",
                url: "/api/extensions",
                contentType: "application/json",
                data: JSON.stringify(extension),
                success: function () {
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown);
                },
                complete: function () {
                    self.populateAllTabs(callback);
                }
            });
        };

        self.remove = function (extension, callback) {
            $.ajax({
                type: "DELETE",
                url: "/api/extensions/local/" + extension.Id,
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(textStatus + ": " + errorThrown);
                },
                complete: function () {
                    self.populateActiveTab(callback);
                }
            });
        };

        self.details = function (extension) {
            self.detailedSiteExtension(extension);
        };

        // Initialization
        self.populateAllTabs();
    }

    ko.applyBindings(new ExtensionsViewModel());
</script>
